*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;}




body{
	font-family: 'Poppins', sans-serif;
	color: black;
	margin: 0;
	padding: 0;}

header{
	width: 100%;
	height: 600px;
	background-color: #ffffff;
	background-image: url(img/PORTADA2.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;}

nav {
	display: flex;
	justify-content: space-between;}

ul {
	display: flex;
	list-style-type:none;
	justify-content: left;
	color: white;}

ul li{
	text-align: left;
	font-weight: 200;
	padding: 20px;}

ul li a{
	color: white;
	text-decoration: none;}

ul li a:hover{
	text-decoration: overline;
	background-color: black;}

.logonav{
	margin-top: 15px;
	margin-left: 10px;
	display: flex;
	float: left;
	width: 30px;
	height: 30px;}

.iconos{
	margin-right: 20px;
	margin-top: 20px;
	padding: 10px/0/20px/100px;
	display: flex;
	justify-content: flex-end;
	gap: 20px;/* añade un espacio entre las imagenes */
	float: right;}

.iconos img{
	width: 25px;
	height: 25px;}

.iconos img:hover{
	text-decoration: overline;
	background-color: black;}

section {
	display: flex;
	height: 430px;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;}

section .logo{
	position: absolute;
	top: 50px;
	height: 350px;
	width: 350px;
	float: center;}


section h1{
	margin-top: 250px;
	color: white;
	font-family:'Source Code Pro', monospace;
	font-size: 25px;
	font-weight: 300;}

.wave{
	position: absolute;
	bottom: 0;
	width: 100%;}




/* REPERTORIO 1 */
.repertorio{
	margin-top: 120px;
	position: absolute;
	height: 600px;}

.repertorio h2{
	padding: 10px;
	background-color: lightgray;
	height: 35px;
	width: 1400px;
	font-weight: 100;
	font-size: 15px;
	text-align: left;}

.repertorio ul{
	display: flex;
	padding: 10px;
	height: 550px;
	width: 1400px;
	gap:10px;}


/* CAJAS 1 */
.caja1{
	display: flex;
	margin-top: 20px;
	background-color:#988777;
	border-radius: 5px;
	height: 480px;
	width: 350px;}

.caja1 img{
	margin-top: 20px;
	margin-left: 20px;
	position: absolute;
	height: 380px;
	width: 300px;
	z-index: 1}

.caja1 img:hover{
	opacity: 0;}

.caja1:before{
	content: " ";
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
	height: 380px;
	width: 300px;
	background-image: url(img/imagen7.jpg);
	background-size: cover;
	z-index: 0}

.caja1 p{
	position: absolute;
	margin-top: 410px;
	margin-left: 70px;
	font-size: 15px;
	justify-content: center;
	color: white;}


.caja2{
	display: flex;
	margin-top: 20px;
	background-color: #988777;
	border-radius: 5px;
	height: 480px;
	width: 350px;}

.caja2 img{
	margin-top: 20px;
	margin-left: 20px;
	position: absolute;
	height: 380px;
	width: 300px;
	z-index: 1}

.caja2 img:hover{
	opacity: 0;}

.caja2:before{
	content: " ";
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
	height: 380px;
	width: 300px;
	background-image: url(img/imagen6.1.jpg);
	background-size: cover;
	z-index: 0}

.caja2 p{
	position: absolute;
	margin-top: 410px;
	margin-left: 100px;
	font-size: 15px;
	justify-content: center;
	color: white;}


.caja3{
	display: flex;
	margin-top: 20px;
	background-color:#988777;
	border-radius: 5px;
	height: 480px;
	width: 350px;}

.caja3 img{
	margin-top: 20px;
	margin-left: 20px;
	position: absolute;
	height: 380px;
	width: 300px;
	z-index: 1}

.caja3 img:hover{
	opacity: 0;}

.caja3:before{
	content: " ";
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
	height: 380px;
	width: 300px;
	background-image: url(img/imagen8.1.jpg);
	background-size: cover;
	z-index: 0}
.caja3 p{
	position: absolute;
	margin-top: 410px;
	margin-left: 120px;
	font-size: 15px;
	justify-content: center;
	color: white;}


.caja4{
	display: flex;
	margin-top: 20px;
	background-color:#988777;
	border-radius: 5px;
	height: 480px;
	width: 350px;}

.caja4 img{
	margin-top: 20px;
	margin-left: 20px;
	position: absolute;
	height: 380px;
	width: 300px;
	z-index: 1}

.caja4 img:hover{
	opacity: 0;}

.caja4:before{
	content: " ";
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
	height: 380px;
	width: 300px;
	background-image: url(img/imagen3.jpg);
	background-size: cover;
	z-index: 0}

.caja4 p{
	position: absolute;
	margin-top: 410px;
	margin-left: 130px;
	font-size: 15px;
	justify-content: center;
	color: white;}



/* REPERTORIO 2 */
.repertorio2{
	margin-top:650px;
	position: absolute;
	height: 600px}

.repertorio2 ul{
	display: flex;
	padding: 10px;
	height: 550px;
	width: 1400px;
	gap:10px;}


/* CAJAS 2 */
.caja5{
	display: flex;
	margin-top: 20px;
	background-color:#988777;
	border-radius: 5px;
	height: 480px;
	width: 350px;}

.caja5 img{
	margin-top: 20px;
	margin-left: 20px;
	position: absolute;
	height: 380px;
	width: 300px;
	z-index: 1}

.caja5 img:hover{
	opacity: 0;}

.caja5:before{
	content: " ";
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
	height: 380px;
	width: 300px;
	background-image: url(img/imagen5.jpg);
	background-size: cover;
	z-index: 0}

.caja5 p{
	position: absolute;
	margin-top: 410px;
	margin-left: 130px;
	font-size: 15px;
	justify-content: center;
	color: white;}


.caja6{
	display: flex;
	margin-top: 20px;
	background-color: #988777;
	border-radius: 5px;
	height: 480px;
	width: 350px;}

.caja6 img{
	margin-top: 20px;
	margin-left: 20px;
	position: absolute;
	height: 380px;
	width: 300px;
	z-index: 1}

.caja6 img:hover{
	opacity: 0;}

.caja6:before{
	content: " ";
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
	height: 380px;
	width: 300px;
	background-image: url(img/imagen14.1.jpg);
	background-size: cover;
	z-index: 0}

.caja6 p{
	position: absolute;
	margin-top: 410px;
	margin-left: 130px;
	font-size: 15px;
	justify-content: center;
	color: white;}


.caja7{
	display: flex;
	margin-top: 20px;
	background-color:#988777;
	border-radius: 5px;
	height: 480px;
	width: 350px;}

.caja7 img{
	margin-top: 20px;
	margin-left: 20px;
	position: absolute;
	height: 380px;
	width: 300px;
	z-index: 1}

.caja7 img:hover{
	opacity: 0;}

.caja7:before{
	content: " ";
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
	height: 380px;
	width: 300px;
	background-image: url(img/imagen4.jpg);
	background-size: cover;
	z-index: 0}
.caja7 p{
	position: absolute;
	margin-top: 410px;
	margin-left: 120px;
	font-size: 15px;
	justify-content: center;
	color: white;}


.caja8{
	display: flex;
	margin-top: 20px;
	background-color:#988777;
	border-radius: 5px;
	height: 480px;
	width: 350px;}

.caja8 img{
	margin-top: 20px;
	margin-left: 20px;
	position: absolute;
	height: 380px;
	width: 300px;
	z-index: 1}

.caja8 img:hover{
	opacity: 0;}

.caja8:before{
	content: " ";
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
	height: 380px;
	width: 300px;
	background-image: url(img/imagen11.1.jpg);
	background-size: cover;
	z-index: 0}

.caja8 p{
	position: absolute;
	margin-top: 410px;
	margin-left: 130px;
	font-size: 15px;
	justify-content: center;
	color: white;}


