*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;}




body{
	background-color: #01009F;
	font-family: 'Raleway', sans-serif;
	color: black;
	margin: 0;
	padding: 0;}

header{
	width: 100%;
	height: 560px;
	background-image: url(img/Fondo.jpeg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;}

nav {
	overflow: hidden;
	display: flex;
	justify-content: center;}

ul {
	display: flex;
	list-style-type:none;
	justify-content: center;
	color: white;
}

ul li{
	text-align: center;
	font-weight: 200;
	padding: 20px;}

ul li a{
	color: white;
	text-decoration: none;}

ul li a:hover{
	text-decoration: overline;}

section {
	overflow: hidden;
	display: flex;
	height: 430px;
	width: 100%;
	align-items: ;
	justify-content: center;
	flex-direction: column;
	text-align: center;}

section .logo{
	z-index: 9999;
	position: absolute;
	top: 60px;
	margin-left: 75px;
	height: 770px;
	width: 500px;
	float: left;}

.wave{
	position: absolute;
	bottom: 0;
	width: 100%;}

.img1{
	overflow: hidden;
	position: absolute;
	float: right;
	margin-left: 800px;
	margin-top:250px;
	overflow: hidden;
	z-index: 9999;
	transform: scale(2.5);
	max-height: 800px;
	width: auto;}

/* SECCION 1 */
.section1{
	overflow: hidden;
	position: absolute;
	background-color: white;
	height: 700px;
	width: 100%;
	margin-top: 1200px;}

	.cajaamarilla{
	z-index: 9999;
	width: 300px;
	height: 500px;
	position: absolute;
	background-color: #FFDF0D;
	left: 100px;
	top: 900px;}

	.cajaamarilla:hover{
		background-color: #FE6220;}

h1{
	z-index: 9999;
	margin-top: 400px;
	margin-left: 250px;
	position: absolute;
	font-size: 80px;
	color: #01009F}

p{
	z-index: 9999;
	margin-top: 550px;
	margin-left: 500px;
	width: 700px;
	height: 100%;
	position: absolute;
	font-size: 20px;
	text-align: justify;}

.lineas2{
	position: absolute;
	margin-left: -100px;
	margin-top:1500px;
	height: 500px;
	width: 100%;}


/* SECCION 2 */
.caja1{
	overflow: hidden;
	margin-top:1600px;
	position: absolute;
	height: 700px;
	width: 100%;
	background-image: url(img/Section2.jpg);
	background-size: cover;}

#informacion2 {
  position: absolute;
  color: white;
  right: 10px;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  height: 100%;
}

#informacion2 h1 {
	margin-right: 10px;
	width: 1000px;
  margin-top: 250px;
  color: white;
  text-align: right;}

#informacion2 h1:hover{
	color: #FFDF0D;}

#informacion2 p {
	margin-right: 80px;
	margin-top: 450px;
  font-size: 20px;
  color: white;
  text-align: right;}

/* SECCION 3 */

.caja2 {
  margin-top: 1930px;
  position: absolute;
  height: 500px;
  width: 100%;
  background-color: #FE6220;}

#informacion3 {
  position: absolute;
  color: white;}

#informacion3 p {
	margin-top: 90px;
	margin-left: 70px;
	width: 750px;
	text-align: left;
  font-size: 20px;}

 .gif{
 	margin-left: 800px;}

 /* SECCION 3 */
.caja3{
	overflow: hidden;
 	margin-top: 2300px;
  position: absolute;
  height: 750px;
  width: 100%;
  background-color: white;}

.caja3:hover{
	background-color: black;}

 #informacion4 p{
 	position: absolute;
 	margin-top: 500px;
 	font-size: 20px;
 	color: #01009F;}

 .img2{
 	height: 900px;}

 /* SECCION 4 */

.caja4{
 	margin-top: 2800px;
  position: absolute;
  height: 600px;
  width: 100%;}

#informacion5 p{
	width: 1200px;
	margin-top: 60px;
	margin-left: 70px;
	color: white;
	font-size: 20px;}

.repertorio{
	margin-left: 20px;
	margin-top: 180px;
	position: absolute;
	height: 600px;}

.repertorio ul{
	display: flex;
	padding: 10px;
	height: 550px;
	width: 1400px;
	gap:10px;}


/* PROYECTO */
.proyecto1{
	display: flex;
	margin-top: 20px;
	background-color: #FFDF0D;
	height: 480px;
	width: 350px;}

.proyecto1 img{
	margin-top: 20px;
	margin-left: 20px;
	position: absolute;
	height: 380px;
	width: 300px;
	z-index: 1}

.proyecto1 img:hover{
	opacity: 0;}

.proyecto1:before{
	content: " ";
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
	height: 380px;
	width: 300px;
	background-image: url(img/imagen2.1.jpg);
	background-size: cover;
	z-index: 0}


.proyecto2{
	display: flex;
	margin-top: 20px;
	background-color: #FFDF0D;
	height: 480px;
	width: 350px;}

.proyecto2 img{
	margin-top: 20px;
	margin-left: 20px;
	position: absolute;
	height: 380px;
	width: 300px;
	z-index: 1}

.proyecto2 img:hover{
	opacity: 0;}

.proyecto2:before{
	content: " ";
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
	height: 380px;
	width: 300px;
	background-image: url(img/imagen3.1.png);
	background-size: cover;
	z-index: 0}


.proyecto3{
	display: flex;
	margin-top: 20px;
	background-color: #FFDF0D;
	height: 480px;
	width: 350px;}

.proyecto3 img{
	margin-top: 20px;
	margin-left: 20px;
	position: absolute;
	height: 380px;
	width: 300px;
	z-index: 1}

.proyecto3 img:hover{
	opacity: 0;}

.proyecto3:before{
	content: " ";
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
	height: 380px;
	width: 300px;
	background-image: url(img/imagen4.1.jpg);
	background-size: cover;
	z-index: 0}


.proyecto4{
	display: flex;
	margin-top: 20px;
	background-color: #FFDF0D;
	height: 480px;
	width: 350px;}

.proyecto4 img{
	margin-top: 20px;
	margin-left: 20px;
	position: absolute;
	height: 380px;
	width: 300px;
	z-index: 1}

.proyecto4 img:hover{
	opacity: 0;}

.proyecto4:before{
	content: " ";
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
	height: 380px;
	width: 300px;
	background-image: url(img/imagen5.1.jpg);
	background-size: cover;
	z-index: 0}

.datos{
	color: white;
	margin-top: 750px;
	margin-left: 70px;}


/* SECCION 5 */
.caja5{
	overflow: hidden;
 	margin-top: 3800px;
  position: absolute;
  height: 550px;
  width: 100%;
  background-image: url(img/portada4.jpg);
	background-size: cover;
	background-attachment: fixed;}

#informacion6 p{
	color: white;
	margin-top: 40px;
	margin-left: 70px;
	width: 1280px;}

	.wave2{
	position: absolute;
	margin-top: 4200px;
	width: 100%;}

/* SECCION 6 */
.caja6{
	overflow: hidden;
 	margin-top: 4090px;
  position: absolute;
  height: 600px;
  width: 100%;
  background-color: white;}

#informacion7 h1{
	margin-top: 90px;
	margin-left: 70px;}

#informacion7 p{
	color: black;
	margin-top: 200px;
	margin-left: 70px;
	width: 1280px;}

/* SECCION 7 */
.caja7{
	overflow: hidden;
 	margin-top: 4300px;
  position: absolute;
  height: 700px;
  width: 100%;
  background-image: url(img/Fondo.jpeg);
	background-size: cover;
	background-attachment: fixed;}

#informacion8 h1{
	width: 1000px;
	color: white;
	margin-top: 90px;
	margin-left: 50px;}

#informacion8 p{
	color: white;
	margin-top: 300px;
	margin-left: 70px;
	width: 1280px;}




footer{
	margin-top:2200px;
	position: relative;
	align-items: center;
	overflow: hidden;}

.caja10{
	background-color: #01009F;
	height: 400px;}

#informacion11{
	display: flex;
	padding: 30px;
	color: #01009F;}

#informacion11 img{
	height: 200px;
}






